<mat-drawer-container class="container" [hasBackdrop]="true">
    <mat-drawer #drawer class="drawer" mode="over" opened>
        <!-- a round picture of the user -->
        <div class="user-picture-container">
             <img class="user-picture" alt="">
        </div>

        <!-- user name -->
        <div class="user-name"> <h3>User Name</h3> </div>

        <!-- create menus -->

        <mat-nav-list>
            <a mat-list-item routerLink="/home">
                <mat-icon>home</mat-icon>
                <span>Inicio</span>
            </a>
            <a mat-list-item routerLink="/about">
                <mat-icon>info</mat-icon>
                <span>Sobre</span>
            </a>
            <a mat-list-item routerLink="/help">
                <mat-icon>contact_mail</mat-icon>
                <span>Ajuda</span>
            </a>
            <!-- version -->
            <a mat-list-item >
                <span>Versão</span>
                <span class="version">1.0.0</span>
            </a>

        </mat-nav-list>


    </mat-drawer>
    <!-- <mat-drawer-content>
        <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>
    </mat-drawer-content> -->
    <mat-drawer-content>
        <app-header (menuClicked)="drawer.toggle()"></app-header>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </mat-drawer-content>
</mat-drawer-container>

<!-- todo: bind the backdrop to the menu status -->
