<!-- base de conhecimento -->
<div class="container">

    <!-- search div with a magnifier icon -->
    <div class="search-bar">
        <mat-form-field>
            <input matInput placeholder="Pesquisar" name="search" type="search">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>

    <div class="results">
        <mat-card> </mat-card>
        <mat-divider></mat-divider>
        <mat-card> </mat-card>
        <mat-divider></mat-divider>
        <mat-card> </mat-card>
        <mat-divider></mat-divider>
    </div>

</div>