.container {
    display: flex;
    flex-direction: column;
}

.search-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.search-bar > mat-form-field {
    width: 80%;
}

.results {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    justify-content: center;
}

.results > mat-card {
    display: flex;
    width: 85%;
    justify-content: center;
    justify-self: center;;
    align-self: center;
    margin-top: 5%;
}