<!-- TODO: create a different view for desktop users -->
<!-- TODO: remove the hamburger menu, since the user is not logger yet -->

<div class="container">

    <mat-card>
        <div class="logo-wrapper">
            <div class="logo"></div>
        </div>

        <!-- <div class="panel-body"> -->

            <form class="panel-body">

            <mat-form-field appearance="fill">
                <input [(ngModel)]="loginInput.user" matInput placeholder="Usuário" name="user" required>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <input [(ngModel)]="loginInput.password" matInput placeholder="Senha" name="password" required>
            </mat-form-field>

            <button (click)="login()" mat-raised-button color="primary" type="submit"
                class="btn btn-primary">Entrar</button>

            </form>
        <!-- </div> -->
    </mat-card>

    <div class="sign-in">
        <div>Não possui uma conta? Cadastre-se <a href="/registrar">Aqui</a> </div>
    </div>

    <div class="forgotten-password">
        <div><a href="">Esqueci minha senha</a> </div>
    </div>

</div>
