<div class="container">

    <mat-card>
        <div class="logo-wrapper">
            <div class="logo"></div>
        </div>

        <div class="panel-body">

            <mat-form-field>
                <input matInput placeholder="Usuário" name="user" required>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Senha" name="password" required>
            </mat-form-field>

            <button (click)="login()" mat-raised-button color="primary" type="submit"
                class="btn btn-primary">Entrar</button>

        </div>
    </mat-card>

</div>