.logo {
    width: 100vw;
    height: 20vh;
    background-image: url('../../../assets/images/univesp_logo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    margin-top: 0.5vh;


}