.container {
    display: flex;
    flex-direction: column;
}

.container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

mat-card {
    margin: 7%;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
}

.logo {
    width: 15rem;
    height: 8rem;
    background-image: url('../../../assets/images/univesp_logo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    margin-top: 0.5vh;
    justify-content: center;
}

.panel-body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}