.container {
    display: flex;
    flex-direction: column;
}

.container > .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.container > .register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.register-form > button {
    margin-top: 2%;
}