.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.ranking-image {
    width: 8rem;
    height: 8rem;
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../../assets/images/icons/ranking.png');
}

.ranking-table {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    justify-items: center
}

table {
    justify-content: center;
    text-align: center;
}

th {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background-color: #00a8ff;
    border-color: #00a8ff;
}

.mat-header-cell {
    justify-content: center;
    text-align: center;;
}

.user-score {
    font-size: 1.2rem;
    font-weight: bold;
}

.user-filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    width: 50%;
    margin-left: 10%;
    margin-top: 7.5%;
}

mat-radio-group {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.user-filter mat-radio-button {
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}
