.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ranking-image {
    width: 50vw;
    height: 50vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../../assets/images/icons/ranking.png');
}