<div class="container">

    <div>
        <h1>Bem vindo [Aluno] </h1>
    </div>


    <div class="menus">

        <mat-card>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p> Base de Conhecimento </p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p> Registre sua duvida </p>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Consulte seu saldo
                </p>

            </mat-card-content>
        </mat-card>

        <mat-card>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Ranking
                </p>
            </mat-card-content>
        </mat-card>

    </div>

</div>