<div class="container">

    <div class="title">
        <h1>Bem vindo [Aluno] </h1>
    </div>


    <div class="menus">

        <mat-card (click)="navigate('base-de-conhecimento')">
            <img mat-card-image src="../../../assets/images/icons/knowledge.jpg" >
            <mat-card-content>
                <p> Base de Conhecimento </p>
            </mat-card-content>
        </mat-card>
        <mat-card (click)="navigate('perguntas')">
            <img mat-card-image src="/assets/images/icons/question.jpg" >
            <mat-card-content>
                <p> Registre sua duvida </p>
            </mat-card-content>
        </mat-card>

        <mat-card (click)="navigate('saldo')">
            <img mat-card-image src="/assets/images/icons/budget.png" >
            <mat-card-content>
                <p>
                    Consulte seu saldo
                </p>

            </mat-card-content>
        </mat-card>

        <mat-card (click)="navigate('ranking')">
            <img mat-card-image src="/assets/images/icons/ranking.png" >
            <mat-card-content>
                <p>
                    Ranking
                </p>
            </mat-card-content>
        </mat-card>

    </div>

</div>
